# Setup Athena Database

The dataset was downloaded locally from Hugging Face [here](https://huggingface.co/datasets/openfoodfacts/product-database/blob/main/food.parquet), then uploaded to our public S3 bucket.

In [1]:
# Install dependencies
!pip install --upgrade boto3 botocore awscli

Requirement already satisfied: boto3 in /opt/conda/lib/python3.12/site-packages (1.37.1)
Collecting boto3
  Using cached boto3-1.40.40-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: botocore in /opt/conda/lib/python3.12/site-packages (1.37.1)
Collecting botocore
  Using cached botocore-1.40.40-py3-none-any.whl.metadata (5.7 kB)
Collecting awscli
  Using cached awscli-1.42.40-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.12/site-packages (from boto3) (1.0.1)
Collecting s3transfer<0.15.0,>=0.14.0 (from boto3)
  Using cached s3transfer-0.14.0-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.12/site-packages (from botocore) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/conda/lib/python3.12/site-packages (from botocore) (1.26.19)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.1->botocore) (1.17.0)
Collecting docutils<=0.19,>=0.18.1 (from awscli)
  Using cached docutils-0.19-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: PyYAML<6.1,>=3.10 in /opt/conda/lib/python3.12/site-packages (from awscli) (6.0.2)
Requirement already satisfied: colorama<0.4.7,>=0.2.5 in /opt/conda/lib/python3.12/site-packages (from awscli) (0.4.6)
Collecting rsa<4.8,>=3.1.2 (from awscli)
  Using cached rsa-4.7.2-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: pyasn1>=0.1.3 in /opt/conda/lib/python3.12/site-packages (from rsa<4.8,>=3.1.2->awscli) (0.6.1)
Using cached boto3-1.40.40-py3-none-any.whl (139 kB)
Using cached botocore-1.40.40-py3-none-any.whl (14.0 MB)
Using cached s3transfer-0.14.0-py3-none-any.whl (85 kB)
Using cached awscli-1.42.40-py3-none-any.whl (4.7 MB)
Using cached docutils-0.19-py3-none-any.whl (570 kB)
Using cached rsa-4.7.2-py3-none-any.whl (34 kB)
Installing collected packages: rsa, docutils, botocore, s3transfer, boto3, awscli
  Attempting uninstall: rsa
    Found existing installation: rsa 4.9.1
    Uninstalling rsa-4.9.1:
      Successfully uninstalled rsa-4.9.1
  Attempting uninstall: botocorem━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/6 [docutils]
    Found existing installation: botocore 1.37.1━━━━━━━━━━━━━━ 1/6 [docutils]
    Uninstalling botocore-1.37.1:0m━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/6 [botocore]
      Successfully uninstalled botocore-1.37.1━━━━━━━━━━━━━━━━ 2/6 [botocore]
  Attempting uninstall: s3transferm━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/6 [botocore]
    Found existing installation: s3transfer 0.11.3━━━━━━━━━━━━━━━━ 3/6 [s3transfer]
    Uninstalling s3transfer-0.11.3:[0m━━━━━━━━━━━━━━━━━━━ 3/6 [s3transfer]
      Successfully uninstalled s3transfer-0.11.3━━━━━━━━━━━━━━ 3/6 [s3transfer]
  Attempting uninstall: boto3[90m╺━━━━━━━━━━━━━━━━━━━ 3/6 [s3transfer]
    Found existing installation: boto3 1.37.1━━━━━━━━━━━━━━━━━ 3/6 [s3transfer]
    Uninstalling boto3-1.37.1:90m╺━━━━━━━━━━━━━━━━━━━ 3/6 [s3transfer]
      Successfully uninstalled boto3-1.37.1━━━━━━━━━━━━━━━━━━━ 3/6 [s3transfer]
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6/6 [awscli]2m5/6 [awscli]
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
autogluon-multimodal 1.4.0 requires nvidia-ml-py3<8.0,>=7.352.0, which is not installed.
aiobotocore 2.21.1 requires botocore<1.37.2,>=1.37.0, but you have botocore 1.40.40 which is incompatible.
autogluon-multimodal 1.4.0 requires transformers[sentencepiece]<4.50,>=4.38.0, but you have transformers 4.55.2 which is incompatible.
autogluon-timeseries 1.4.0 requires transformers[sentencepiece]<4.50,>=4.38.0, but you have transformers 4.55.2 which is incompatible.
sagemaker-studio-analytics-extension 0.2.0 requires sparkmagic==0.22.0, but you have sparkmagic 0.21.0 which is incompatible.
Successfully installed awscli-1.42.40 boto3-1.40.40 botocore-1.40.40 docutils-0.19 rsa-4.7.2 s3transfer-0.14.0

In [2]:
# Import libraries
import boto3
import sagemaker
from pyathena import connect
import pandas as pd
import time

import warnings
warnings.filterwarnings('ignore', category=UserWarning)

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

In [3]:
# Setup boto and sagemaker session
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name
print('Boto and Sagemaker Sessions Initialized...\nBucket: {0}\nRegion: {1}'.format(bucket, region))

Boto and Sagemaker Sessions Initialized...
Bucket: sagemaker-us-east-1-654654380268
Region: us-east-1

## Verify Access to Dataset from Public S3 Bucket

In [4]:
# Verify the public S3 bucket contents
!aws s3 ls s3://aai-540-openfoodfacts/

                           PRE food_us_subset_100k/
2025-09-18 04:28:03 4253536290 food.parquet

In [5]:
# Set S3 source location (public S3 bucket)
s3_public_folder_path = "s3://aai-540-openfoodfacts"
s3_public_path_parquet = "s3://aai-540-openfoodfacts/food.parquet"
%store s3_public_folder_path
%store s3_public_path_parquet

Stored 's3_public_folder_path' (str)
Stored 's3_public_path_parquet' (str)

## Create Athena Database

In [6]:
# Initialize our database name
database_name = 'foodfacts'

# Set S3 staging directory
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

# Create connection to Athena database
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [7]:
# Create our database
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)
pd.read_sql(statement, conn)

CREATE DATABASE IF NOT EXISTS foodfacts

Empty DataFrame
Columns: []
Index: []

In [8]:
# Verify database was created
statement = "SHOW DATABASES"
df_show = pd.read_sql(statement, conn)
df_show.head(5)

            database_name
0                 default
1                  dsoaws
2               foodfacts
3  sagemaker_featurestore

## Create and Run a Glue Crawler for Raw Data
We created a glue crawler to automatically create a table of the dataset file.

In [9]:
# Initialize the AWS Glue client
glue_client = boto3.client('glue', region_name=region)

crawler_name = 'food_products_crawler'

# Create the Glue Crawler
try:
    glue_client.create_crawler(
        Name=crawler_name,
        Role=role,
        DatabaseName=database_name,
        Targets={'S3Targets': [{'Path': s3_public_folder_path}]},
    )
    print(f"Crawler '{crawler_name}' created successfully.")
except glue_client.exceptions.AlreadyExistsException:
    print(f"Crawler '{crawler_name}' already exists.")

Crawler 'food_products_crawler' already exists.

In [10]:
# Verify Creation of Glue Crawler
crawlers = glue_client.get_crawlers()
for crawler in crawlers['Crawlers']:
    print(f"Crawler Name: {crawler['Name']}, State: {crawler['State']}")

# Check if table was created from crawler
target_table = 'aai_540_openfoodfacts'
statement = "SHOW TABLES in {}".format(database_name)
df_show = pd.read_sql(statement, conn)
target_table_created = False

if target_table in df_show.iloc[:, 0].values:
    print(f"Table '{target_table}' exists!")
    target_table_created = True
else:
    print(f"Table '{target_table}' not found.")
    target_table_created = False

Crawler Name: food_products_crawler, State: READY
Table 'aai_540_openfoodfacts' exists!

In [11]:
# Start the Glue Crawler if target table not created
if not target_table:
    print(f"Starting crawler '{crawler_name}'...")
    glue_client.start_crawler(Name=crawler_name)
    
    # Wait for the crawler to finish
    while True:
        response = glue_client.get_crawler(Name=crawler_name)
        state = response['Crawler']['State']
    
        if state == 'READY':
            print("Crawler finished successfully.")
            break
        elif state == 'STOPPING':
            print("Crawler is stopping...")
        elif state == 'RUNNING':
            print("Crawler is running...")
        elif state == 'FAILED':
            print("Crawler failed.")
            break
        
        time.sleep(15) # Wait 15 seconds before checking the status again
else:
    print(f"Skipping Crawler. Table '{target_table}' exists!")

Skipping Crawler. Table 'aai_540_openfoodfacts' exists!

In [12]:
# Save table name
raw_table_name = "aai_540_openfoodfacts"
%store raw_table_name

Stored 'raw_table_name' (str)

## Verify Querying the Database

In [13]:
# Run Count query
statement = """SELECT COUNT(*) as count FROM {}.{}""".format(
    database_name, raw_table_name
)
print(statement)
df = pd.read_sql(statement, conn)
df

SELECT COUNT(*) as count FROM foodfacts.aai_540_openfoodfacts

     count
0  4129225

In [14]:
# Run sample query
statement = """SELECT * FROM {}.{} LIMIT 5""".format(
    database_name, raw_table_name
)
print(statement)
df = pd.read_sql(statement, conn)
df.head(5)

SELECT * FROM foodfacts.aai_540_openfoodfacts LIMIT 5

,additives_n,additives_tags,allergens_tags,brands_tags,brands,categories,categories_tags,categories_properties,checkers_tags,ciqual_food_name_tags,...,states_tags,stores_tags,stores,traces_tags,unique_scans_n,unknown_ingredients_n,unknown_nutrients_tags,vitamins_tags,with_non_nutritive_sweeteners,with_sweeteners
0,0,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,0,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,0,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,0,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,6,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

## Create a Filtered Subset Table

In [15]:
# Filter down dataset to food products in United States with selected raw columns
us_table_name = 'food_us_100k'
subset_path = 'food_us_subset_100k/'
statement = """CREATE TABLE IF NOT EXISTS {}.{}
WITH (
  format = 'PARQUET',
  parquet_compression = 'SNAPPY',
  external_location = '{}/{}'
) AS
SELECT
  code,
  product_name,
  nutriments,
  nova_group,
  additives_n,
  ingredients_n,
  nutriscore_score
FROM
  {}.{}
WHERE
  contains(countries_tags, 'en:united-states')
  AND nutriscore_score IS NOT NULL 
  AND code IS NOT NULL 
  AND product_name IS NOT NULL 
  AND nova_group IS NOT NULL
  AND additives_n IS NOT NULL
  AND ingredients_n IS NOT NULL
  ORDER BY random()
LIMIT 100000""".format(
    database_name, us_table_name, s3_public_folder_path, subset_path, database_name, raw_table_name
)
print(statement)
pd.read_sql(statement, conn)

CREATE TABLE IF NOT EXISTS foodfacts.food_us_100k
WITH (
  format = 'PARQUET',
  parquet_compression = 'SNAPPY',
  external_location = 's3://aai-540-openfoodfacts/food_us_subset_100k/'
) AS
SELECT
  code,
  product_name,
  nutriments,
  nova_group,
  additives_n,
  ingredients_n,
  nutriscore_score
FROM
  foodfacts.aai_540_openfoodfacts
WHERE
  contains(countries_tags, 'en:united-states')
  AND nutriscore_score IS NOT NULL
  AND code IS NOT NULL
  AND product_name IS NOT NULL
  AND nova_group IS NOT NULL
  AND additives_n IS NOT NULL
  AND ingredients_n IS NOT NULL
  ORDER BY random()
LIMIT 100000

Empty DataFrame
Columns: [rows]
Index: []

In [16]:
# Run Count query on filtered subset
statement = """SELECT COUNT(*) AS COUNT FROM {}.{}""".format(
    database_name, us_table_name
)
print(statement)
df = pd.read_sql(statement, conn)
df

SELECT COUNT(*) AS COUNT FROM foodfacts.food_us_100k

    COUNT
0  100000

In [17]:
# View rows from subset data
statement = """SELECT * FROM {}.{} LIMIT 5;""".format(
    database_name, us_table_name
)
print(statement)
df_us = pd.read_sql(statement, conn)
df_us

SELECT * FROM foodfacts.food_us_100k LIMIT 5;

,code,product_name,nutriments,nova_group,additives_n,ingredients_n,nutriscore_score
0,0023933100906,"[{'lang': 'main', 'text': 'Creamy Beanut Butte...","[{'name': 'carbohydrates', 'value': 25.0, '100...",4,0,7,26
1,0041800302710,"[{'lang': 'main', 'text': 'Juice Beverage'}, {...","[{'name': 'pantothenic-acid', 'value': 0.0, '1...",4,1,13,1
2,0041900080235,"[{'lang': 'main', 'text': 'Sweetened iced tea'...","[{'name': 'proteins', 'value': 0.0, '100g': 0....",4,2,7,9
3,0898685001098,"[{'lang': 'main', 'text': 'Organic Açaí Sorbet...","[{'name': 'cholesterol', 'value': 0.0, '100g':...",4,4,11,4
4,0829462501043,"[{'lang': 'main', 'text': 'Dairy Free Probioti...","[{'name': 'carbohydrates', 'value': 10.83, '10...",4,6,29,9